*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.png
app/src/main/assets/blandLogos/logo-babymonster.png
app/src/main/assets/blandLogos/logo-brilliantprince.png
app/src/main/assets/blandLogos/logo-dollywaltz.png
app/src/main/assets/blandLogos/logo-girlsyell.png
app/src/main/assets/blandLogos/logo-lovedevi.png
app/src/main/assets/blandLogos/logo-romancebeat.png
app/src/main/assets/blandLogos/logo-secretalice.png
app/src/main/assets/blandLogos/logo-sweethoney.png
app/src/main/assets/blandLogos/logo-twinkleribbon.png
app/src/main/assets/blandLogos/logo-babymonster.png
app/src/main/assets/blandLogos/logo-brilliantprince.png
app/src/main/assets/blandLogos/logo-dollywaltz.png
app/src/main/assets/blandLogos/logo-girlsyell.png
app/src/main/assets/blandLogos/logo-lovedevi.png
app/src/main/assets/blandLogos/logo-romancebeat.png
app/src/main/assets/blandLogos/logo-secretalice.png
app/src/main/assets/blandLogos/logo-sweethoney.png
app/src/main/assets/blandLogos/logo-twinkleribbon.png
*.png
